/*CSS FOR THE HOME PAGE BEGINS HERE*/
#homeBody {
    background-color:floralwhite;
}

#homeDiv {
    width: 15%;
    float: left;
    padding-left: 30%;
    padding-top: 17%;
}

#homeDiv2 {
    width: 15%;
    float: left;
    padding-right: 30%;
}

#homeImg {
    border-radius: 50%;
    margin-top: 40%;
}

/*CSS FOR THE AFTERCARE PAGE BEGINS HERE*/
#afterCareDiv {
    padding-left: 30%;
}

#afterCareHeader {
    text-align: center;
}

.afterCareText {
    padding: 4%;
}

/*CSS FOR THE BOOKING/FAQ PAGE BEGINS HERE*/

/*CSS FOR THE TATTOOS PORTFOLIO PAGE BEGINS HERE*/
.portfolioImages {
    width:  33%;
    display: inline-block;
    overflow: hidden;
}

/*CSS FOR THE NEWSLETTER SIGN UP PAGE BEGINS HERE*/
#emailLabel {
    color: red;
}